.contenedor{
    opacity: 0.6;
    background-color: bisque;
    width: 1200px;
    margin: 10px;
    margin-left: 100px;
    align-items: center;
    align-content: center;

}
.conteForm{
    padding: 14px;
    background-color: rgb(243, 207, 117);
    width: 40%;
    
    margin: 50px;
    margin-left: 350px;

}

input {
    width: 100%;
    height: 45px;
    border-radius: 14px;
    margin: 5px;
}
select{
    width: 100%;
    height: 45px;
    border-radius: 14px;
    margin: 5px;
}
.button{
    width: 100%;
    background-color: rgb(9, 38, 227);
    color: white;
}