.contenedor{
    width: 90%;
    background-color: bisque;
    margin: 40px auto;
    padding: 0px;
   
    border-radius: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom:15px;
    display: flex;
    flex-direction: row;
}

.botonAdd{
    font-size: 18px ;
    text-align: center;
    float: right;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    background:mediumblue ;
    width: 15%;
    height: 8vh;
    position: absolute;
    color:white
}
